h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding-left: 15px;
    border-bottom: 2px solid gray;
}

#hangman, #rpg, #trivia, #rutgers, #rock {
    margin: 40px 40px 40px 0;
    height: 300px;
    width: 300px;
    float: left;    
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
    width: 280px;
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
    position: absolute; 
    top: 200px; 
    left: 0;
}

.hangmanContainer, .rpgContainer, .triviaContainer, .rutgersContainer, .rockContainer { 
    position: relative; 
 }
