header {
    padding: 10px;
    border: 10px, solid, #cccccc;
    margin-top: 0%;
    margin-bottom: 20px;
    float: left;
}

.header-nav {
    background-color: white;
    min-height: 50px;
}

h1 {
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    margin: 50px;
}
 .clearfix::after{
    content:"";
    display: block;
    clear: both;
}

body {
    background-color: #cccccc;

}

#aboutMe {
    margin: 20px 200px 200px 200px;
    padding: 60px;
    border: 20px;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#profilePicture {
    width: 300px;
    height: 250x;
    padding: 15px;
    float: left;
}

footer {
    margin-top: 20px;
    padding: 10px;
    border: 10px, blue, solid;
    text-align: center;
    background-color: #666666;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

}