header {
    background-color: #4aaaa5;
    padding: 10px;
    border-style: solid;
    border-width: 30%;
    border-color: #cccccc;
    border: 20px;
    margin-top: 0%;
    margin-bottom: 20px;
}

nav {
    text-align: right;
}

body {
    background-color: #cccccc;

}

section {
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 60px;
    border: 20px;
    background-color: white;
}

#profilePicture {
    width: 300px;
    height: 250x;
    padding: 15px;
    float: left;
}

p {
    
}

footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 10px;
    border-top-color: blue;
    text-align: center;
    background-color: #666666;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

}